**UAS DASAR PEMROGRAMAN (NO. 1)**


*   Nama : Rustiani
*   NIM : 20220040003
*   kelas : TI22C

#1. Mengubah tabel kedalam dictioary,Menampilkan data nilai lebih besar dari 80

In [6]:
Data_Niai = [
    {
        "Student_Number" : "101",
        "Name" : "Andri",
        "Subject" : "Programming Basic",
        "Grade" : 80
    },
    {
        "Student_Number" : "102",
        "Name" : "Budi",
        "Subject" : "Programming Basic",
        "Grade" : 90
    },
    {
        "Student_Number" : "103",
        "Name" : "Cika",
        "Subject" : "Programming Basic",
        "Grade" : 100
    },
    {
        "Student_Number" : "104",
        "Name" : "Dedi",
        "Subject" : "Programming Basic",
        "Grade" : 100
    },
    {
        "Student_Number" : "105",
        "Name" : "Eka",
        "Subject" : "Programming Basic",
        "Grade" : 50
    },
    {
        "Student_Number" : "106",
        "Name" : "Feri",
        "Subject" : "Programming Basic",
        "Grade" : 40
    },
    {
        "Student_Number" : "107",
        "Name" : "Galih",
        "Subject" : "Programming Basic",
        "Grade" : 70
    },
    {
        "Student_Number" : "108",
        "Name" : "Huda",
        "Subject" : "Programming Basic",
        "Grade" : 70
    },
    {
        "Student_Number" : "109",
        "Name" : "Intan",
        "Subject" : "Programming Basic",
        "Grade" : 60
    },
    {
        "Student_Number" : "101",
        "Name" : "Andri",
        "Subject" : "Web Programming",
        "Grade" : 70
    },
    {
        "Student_Number" : "102",
        "Name" : "Budi",
        "Subject" : "Web Programming",
        "Grade" : 80
    },
    {
        "Student_Number" : "103",
        "Name" : "Cika",
        "Subject" : "Web Programming",
        "Grade" : 80
    },
    {
        "Student_Number" : "104",
        "Name" : "Dedi",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
    {
        "Student_Number" : "105",
        "Name" : "Eka",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
    {
        "Student_Number" : "106",
        "Name" : "Feri",
        "Subject" : "Web Programming",
        "Grade" : 60
    },
    {
        "Student_Number" : "107",
        "Name" : "Galih",
        "Subject" : "Web Programming",
        "Grade" : 95
    },
    {
        "Student_Number" : "108",
        "Name" : "Huda",
        "Subject" : "Web Programming",
        "Grade" : 85
    },
    {
        "Student_Number" : "109",
        "Name" : "Intan",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
]

In [2]:
def nilaiLebih80(data_nilai):
    result = []
    
    for item in data_nilai:
        if item.get("Grade") > 80:
            result.append(item)
            
    return result

In [3]:
def printData(data_nilai):
    for item in data_nilai:
        print("===============================")
        print("Student Number : ", item.get("student_number"))
        print("Nama : ", item.get("Name"))
        print("Subjects : ", item.get("Subject"))
        print("Grades : ", item.get("Grade"))
        print("===============================")
        print("\n")

In [5]:
print("Data dengan nilai lebih dari 80\n")
printData(nilaiLebih80(Data_Niai))

Data dengan nilai lebih dari 80

===============================
Student Number :  None
Nama :  Budi
Subjects :  Programming Basic
Grades :  90
===============================


===============================
Student Number :  None
Nama :  Cika
Subjects :  Programming Basic
Grades :  100
===============================


===============================
Student Number :  None
Nama :  Dedi
Subjects :  Programming Basic
Grades :  100
===============================


===============================
Student Number :  None
Nama :  Dedi
Subjects :  Web Programming
Grades :  90
===============================


===============================
Student Number :  None
Nama :  Eka
Subjects :  Web Programming
Grades :  90
===============================


===============================
Student Number :  None
Nama :  Galih
Subjects :  Web Programming
Grades :  95
===============================


===============================
Student Number :  None
Nama :  Huda
Subjects :  Web Programming
Grades :  85
===============================


===============================
Student Number :  None
Nama :  Intan
Subjects :  Web Programming
Grades :  90
===============================